<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
</head>
<body>

<strong>FOOD</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>

Your name is {{.Name}}<br>
your favorite food is {{.Food}}

</body>
</html>