<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name</title>
</head>
<body>

<strong>NAME</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
Your name is {{.}}

</body>
</html>